<p>
  {% if post_hoc_control %}
  Doing more visual recognition tasks is entirely optional. You may click Save &amp; Exit to quit at any time.
  {% else %}
  To advance to the next part of the experiment you must successfully complete 10 visual recognition tasks.
  {% endif %}
</p>

<p>
  On each screen, you will see a grid of images.
</p>

<p>
  Each grid contains a few images containing bicycles.
</p>

<p>
  Click on all the bicycle images to highlight them and then click "Submit" to record an attempt.
</p>

<p>
  You will see your current score in the top right corner.
</p>

<p>
  {% if post_hoc_control %}
  You may complete as many tasks as you want. At any time you may click Save &amp; Exit to finish.
  {% else %}
  Your score must reach 10 before you can advance to the next part of the experiment.
  {% endif %}
</p>
