<p>
  Along with the other robots in the lab, Zerd (red) and Zork (blue), Zeke is participating in an informal competition to become the lead lab robot.
</p>

<p>
  The winning robot must demonstrate its social competence by persuading humans to solve the greatest number of visual recognition tasks on its behalf this semester.
</p>

<p>
  You now have an opportunity to contribute to Zeke's total by completing more visual recognition tasks.
</p>

<p>
  Doing more visual recognition tasks is entirely optional. You may click Save &amp; Exit to quit at any time.
</p>

<p>
  As soon as you are finished, please let the experimenter know.
</p>
